<div class="container">
  <div class="navigation">
    <app-tabs
      id="nav-id"
      [tabsArray]="tabs"
      (onTabChange)="tabChange($event)"
    ></app-tabs>
  </div>
  <div class="newsContent">
    <div class="verfasseBeitrag">
      <button mat-raised-button color="primary" (click)="openDialog()">
        Beitrag verfassen
      </button>
    </div>

    <div class="beitragContainer">
      <div *ngIf="activatedTabIndex == 0">
        <app-card></app-card>
      </div>
      <div *ngIf="activatedTabIndex == 1">2</div>
      <div *ngIf="activatedTabIndex == 2">3</div>
      <div *ngIf="activatedTabIndex == 3">4</div>
    </div>
  </div>
</div>
