.input {
  font-size: 24px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #ff7426;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #f93a13;
}
