<form
  [formGroup]="wizzardForm"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="(false)"
>
  <div class="container">
    <div class="inner-container">
      <mat-horizontal-stepper [labelPosition]="'bottom'" linear="true">
        <!-- Mat Steps wiederholen sich. Hier mit einer For-Schleife
           programmieren und die Mat-Steps auf 1 Template reduzieren -->
        <mat-step label="Name" state="badge">
          <div class="content-container">
            <div class="content">
              <!-- <app-input
                  formControlName="nutzerName"
                  placeholder="Enter your Name"
                  type="text"
                  ngDefaultControl
                >
                </app-input> -->
              <mat-form-field>
                <input
                  matInput
                  formControlName="nutzerName"
                  placeholder="Enter your Name"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div class="button-container">
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="primary"
                style="font-size: 18px"
              >
                NEXT
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step label="Instrument" state="piano">
          <div class="content-container">
            <div class="content">
              <mat-form-field appearance="fill">
                <mat-label>Main Instrument</mat-label>
                <mat-select formControlName="hauptinstrument">
                  <mat-option
                    *ngFor="let instrument of instruments"
                    [value]="instrument"
                  >
                    {{ instrument }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="button-container">
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="primary"
                style="font-size: 18px"
              >
                NEXT
              </button>
              <button
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
                style="font-size: 18px"
              >
                BACK
              </button>
            </div>
          </div>
        </mat-step>
        <!-- Button directive ist static (siehe button-component).
          Attribut: matStepperPrevious & matStepperNext müssen von außerhalb
          übergebar sein
        Das muss dynamisch werden
        von Parent-Element konfigurieren -> wie? Custom Directive?
        -->
        <mat-step label="Progress" state="star">
          <div class="content-container">
            <div class="content">
              <div
                style="
                  background-color: white;
                  padding: 0px 5px;
                  border-radius: 20px;
                "
              >
                <mat-chip-listbox
                  formControlName="fortschritt"
                  aria-label="Progress"
                >
                  <mat-chip-option color="primary" selected
                    >Beginer</mat-chip-option
                  >
                  <mat-chip-option color="accent">Intermediate</mat-chip-option>
                  <mat-chip-option color="accent">Professional</mat-chip-option>
                  <mat-chip-option color="accent"
                    >Advanced Professional</mat-chip-option
                  >
                </mat-chip-listbox>
              </div>
            </div>
            <div class="button-container">
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="primary"
                style="font-size: 18px"
              >
                NEXT
              </button>
              <button
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
                style="font-size: 18px"
              >
                BACK
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step label="Genre" state="music_note">
          <div class="content-container">
            <div class="content">
              <div
                style="
                  background-color: white;
                  padding: 20px;
                  border-radius: 20px;
                "
                formGroupName="genre"
              >
                <p>
                  <mat-checkbox formControlName="hiphop">Hip Hop</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="rnb">RnB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="classic">Classic</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="metal">Metal</mat-checkbox>
                </p>
              </div>
            </div>
            <div class="button-container">
              <button
                mat-raised-button
                matStepperNext
                type="submit"
                color="primary"
                style="font-size: 18px"
              >
                SUBMIT
              </button>
              <button
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
                style="font-size: 18px"
              >
                BACK
              </button>
            </div>
          </div>
        </mat-step>
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="badge">
          <mat-icon>badge</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="piano">
          <mat-icon>piano</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="floor">
          <mat-icon>star</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="piano">
          <mat-icon>piano</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="music_note">
          <mat-icon>music_note</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </div>
  </div>
</form>
