<form [formGroup]="wizzardForm">
  <div class="container">
    <div class="inner-container">
      <mat-horizontal-stepper [labelPosition]="'bottom'">
        <!-- Mat Steps wiederholen sich. Hier mit einer For-Schleife
           programmieren und die Mat-Steps auf 1 Template reduzieren -->
        <mat-step label="Name" state="badge">
          <div class="content-container">
            <div class="content">
              <div
                style="
                  background-color: white;
                  padding: 20px;
                  border-radius: 20px;
                "
              >
                <app-input placeholder="Enter your Name" type="text">
                </app-input>
              </div>
            </div>
            <div class="button-container">
              <app-button [text]="'Next'"></app-button>
            </div>
          </div>
        </mat-step>

        <mat-step label="Instrument" state="piano">
          <div class="content-container">
            <div class="content">
              <mat-form-field appearance="fill">
                <mat-label>Main Instrument</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let instrument of instruments"
                    [value]="instrument"
                  >
                    {{ instrument }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="button-container">
              <app-button [text]="'Next'"></app-button>
              <button mat-button color="acccent" matStepperPrevious>
                PREVIOUS
              </button>
            </div>
          </div>
        </mat-step>
        <!-- Button directive ist static (siehe button-component).
          Attribut: matStepperPrevious & matStepperNext müssen von außerhalb
          übergebar sein
        Das muss dynamisch werden
        von Parent-Element konfigurieren -> wie? Custom Directive?
        -->
        <mat-step label="Progress" state="star">
          <div class="content-container">
            <div class="content">
              <div
                style="
                  background-color: white;
                  padding: 0px 5px;
                  border-radius: 20px;
                "
              >
                <mat-chip-listbox aria-label="Progress">
                  <mat-chip-option color="primary" selected
                    >Beginer</mat-chip-option
                  >
                  <mat-chip-option color="accent">Intermediate</mat-chip-option>
                  <mat-chip-option color="accent">Professional</mat-chip-option>
                  <mat-chip-option color="accent">Top G</mat-chip-option>
                </mat-chip-listbox>
              </div>
            </div>
            <div class="button-container">
              <app-button [text]="'Next'"></app-button>
              <button mat-button matStepperPrevious color="primary">
                PREVIOUS
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step label="Genre" state="music_note">
          <div class="content-container">
            <div class="content">
              <div
                style="
                  background-color: white;
                  padding: 20px;
                  border-radius: 20px;
                "
                [formGroup]="genres"
              >
                <p>
                  <mat-checkbox formControlName="hiphop">Hip Hop</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="rnb">RnB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="classic">Classic</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="metal">Metal</mat-checkbox>
                </p>
              </div>
            </div>
            <div class="button-container">
              <app-button [text]="'Submit'"></app-button>
              <button mat-button matStepperPrevious>PREVIOUS</button>
            </div>
          </div>
        </mat-step>
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="badge">
          <mat-icon>badge</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="piano">
          <mat-icon>piano</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="floor">
          <mat-icon>star</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="piano">
          <mat-icon>piano</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="music_note">
          <mat-icon>music_note</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </div>
  </div>
</form>
