.container {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  width: 100%;
  height: 20vh;
  border-bottom: 2px solid black;
}

.content {
  width: 100%;
  height: 75vh;
}

.footer {
  width: 100%;
  height: 5vh;
}

.iconHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  margin-left: 45px;
  overflow: hidden;
}

.navBarHeader {
  display: flex;
  align-items: flex-end;
  width: 70%;
  height: 100%;
  font-size: 25px;
}

::ng-deep #news .active {
  font-weight: bold;
  color: white;
  background-color: #f44336;
  border-radius: 10px 10px 0 0;
}

::ng-deep #news .inactive:hover {
  background-color: #ffebee;
  border-radius: 10px 10px 0 0;
}
