<form [formGroup]="dialogForm" (ngSubmit)="postContribution()">
  <div class="dialogContainer">
    <h2 mat-dialog-title>Beitrag verfassen</h2>

    <mat-form-field class="titelFormField" appearance="outline">
      <mat-label >Titel</mat-label>
      <input formControlName="title" type="text" matInput required>
    </mat-form-field>

    <mat-form-field class="titelFormField" appearance="outline">
      <mat-label >Subtitel</mat-label>
      <input formControlName="subtitle" type="text" matInput>
    </mat-form-field>

    <mat-form-field class="textAreaFormField"  appearance="outline">
      <mat-label>Beitrag</mat-label>
      <textarea formControlName="text" matInput rows="5" required></textarea>
    </mat-form-field>

    <mat-dialog-actions align="start" style="padding-left: 24px;">
      <button type="button" mat-button mat-dialog-close>Abbrechen</button>
      <button
        color="primary"
        type="submit"
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Beitrag veröffentlichen
      </button>
    </mat-dialog-actions>
  </div>
</form>


